body {
  background-image: url("al-lucca-BA_bjyxvoNQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}

nav {
  text-align: center;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

header {
  background-color: #6c63ff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero {
  text-align: center;
  padding: 40px 0;
  color: black;
  margin-top: 50px;
}

#hero h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6c63ff;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li:not(:first-child) {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #6c63ff;
}

#featured-animals {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 0;
  margin-top: 200px; /* Adjust the margin-top value to leave space for the background image */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.animal-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animal-image {
  width: 300px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 6px #6c63ff;
  text-align: center;
}

.animal-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.animal-image p {
  color: black;
  font-size: 16px;
  font-weight:900
}
