@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 90%;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}

nav {
  text-align: center;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav li a {
  text-decoration: none;
  font-weight: 550;
}

header {
  background-color: #6c63ff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volunteer-heading {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.volunteering-opp-grid-item ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.volunteering-opp-grid-item ul li {
  list-style: none;
  text-align: center;
  border: 1px solid #6c63ff;
  padding: 2rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.volunteering-opp-grid-item ul li:hover {
  background-color: #6c63ff;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.volunteer-features {
  margin-top: 1rem;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.requirements {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.requirements ul {
  margin-top: 1rem;
  list-style: tick;
}

.requirements ul li {
  margin-bottom: 0.5rem;
}

.requirements ul li::marker {
  color: #6c63ff;
}

.requirements ul li span {
  font-weight: 600;
}

.requirements ul li span::after {
  content: ':';
}

.requirements ul li span::before {
  content: '•';
  color: #6c63ff;
  margin-right: 0.5rem;
}

.volunteer-img {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.volunteer-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100%;
}

.how-to-apply {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footer-volunteer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.footer-volunteer a {
  text-decoration: none;
  color: #6c63ff;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .volunteering-opp-grid-item ul {
    grid-template-columns: 1fr;
  }
  .volunteer-heading {
    flex-direction: column;
  }
  .volunteer-heading h1 {
    margin-bottom: 1rem;
  }
  .volunteer-heading p {
    margin-bottom: 1rem;
  }
  .volunteer-img {
    height: 50vh;
  }

  .volunteer-img > img {
    object-position: 50%;
  }

  .footer-volunteer {
    flex-direction: column;
  }

  .footer-volunteer a {
    margin-bottom: 1rem;
  }

  .volunteer-features {
    font-size: 0.8rem;
  }
}
